.add-region
{
	font-style: italic;
	width: 100%;
	float: left;
	height: 70%;
	padding-left: 2%;
}

.input-area
{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.filter-region {
	width: 30%;
	float: right;
}

.activeFilter {	
	color: #2c3e50 !important; 
	background-color: #fff !important;
}

#input-cnh {
	display: none;
}

#drag-add {
	display: none;
}